@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --active: #29c2fd;
    --active2: #29fd9a;
    --dark: #0a2a43;
    --dark2: #24262e;
    --light: #fff;

}

body {
    background: var(--dark);
    min-height: 1500px;
}

.start-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.start-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--dark), transparent);
    z-index: 10000;
}

.start-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--dark);
    mix-blend-mode: color;
    z-index: 10000;
}

.start-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#start-header  {
    position: relative;
    color: #fff;
    font-size: 8em;
    margin-bottom: 220px;
    z-index: 1;
}

#road  {
    z-index: 2;
}

#mountain  {
    z-index: 2;
}

.projects-section{
    padding: 100px 50px;
}

#projects-header  {
    position: relative;
    color: #fff;
    font-size: 5em;
    margin-bottom: 220px;
    z-index: 1;
}

.row{
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;

}

.column{
    max-width: 500px;
    padding: 25px 100px;
}

.card{
    position: relative;
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.card.magic-navs{
    /* background-image: url('../assets/projects/magic-nagiations.png'); */
    min-height: 700px;
}

.project-img{
    max-height: 700px;
    border-radius: 15px;
    filter: saturate(0) blur(1px);
    border: 3px  solid transparent;
    border-top: 0;

    transition: 0.5s all;
    z-index: 2;

}

.project-img:hover{
    filter: saturate(1) blur(0px);
    border: 3px solid var(--light);
    border-top: 0;
    cursor: pointer;
    transition: 0.5s all;
    box-shadow: 0 5px 10px #fff
}

.project-description{
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.project-header{
    font-size: 2em;
    padding: 15px;
}